<launch>
    <arg name="freq" default="2" doc="freq"/>
    <arg name="enable_ros_bag" default="false" doc="enable_ros_bag"/>
    <param name="freq" value="$(arg freq)"/>
    <node pkg="beginner_tutorials"
          type="talker"
          name="talker_publisher"
          output="screen"/>

    <node pkg="beginner_tutorials"
          type="listener"
          name="listener_subscriber"
          output="screen"/>

    <node pkg="rosbag"
          name="record"
          type="record"
          args="-a -O $(find beginner_tutorials)/results/current_rosbag"
          if="$(arg enable_ros_bag)"/>
</launch>
